<div class="ajax-div" *ngIf="loading">    
  <img src="{{imagePath}}" class="ajax-loader" alt="Loading"/>
</div>
<div class="container" *ngIf="isResponse">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="f05v6-sorting clearfix">
                    <div class="f05v6-sorting-label">{{sortBy}}: </div>
                    <a class="f05v6-sorting-label" (click)="onDateSort(!isDateSorted)">&nbsp;&nbsp;{{date}} <i [ngClass]="dateAngle" aria-hidden="true"></i></a>
                    <ul>                                                         
                        <li *ngFor="let sortType of sortTypes; let typeIndex = index">
                            <a (click)="onSortType(sortType, isDateSorted)" [ngClass]="{'event-disable-click': contentType == sortType}">{{sortType}} </a>
                            {{(sortTypes.length - 1) > typeIndex ? '|' : ''}}
                          </li>
                    </ul>
                </div>
            
                <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="search-listing" *ngFor="let document of documents">
                              <ul>
                                  <li>
                                      <div class="search-listing-img" *ngIf="document.image != ''">
                                          <img src="{{document.image}}" title="multimedia" alt="multimedia">
                                      </div>
                                      <div class="search-listing-content">
                                          <h4><a [attr.href]="document.url">{{document.title | objectFilter}}</a></h4>
                                          <p class="blurb-text">
                                              <span [innerHTML]="document.description | objectFilter"></span>
                                          </p>
                                          <div class="search-listing-info">
                                              <span class="info-list-item"><span class="info-list-title">{{date}}: </span>{{document.date | dateFormat : languageCode}}</span>
                                              <span class="info-list-item"><span class="info-list-title">{{type}}: </span>{{document.type | objectFilter}}</span>
                                              <span class="info-list-item"><span class="info-list-title">{{language}}: </span>{{document.language | objectFilter}}</span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                              <hr>
                          </div>  
                          <div class="search-listing" *ngFor="let media of multimedia">
                              <ul>
                                  <li>
                                      
                                      <div class="search-listing-content">
                                          <h4><a [attr.href]="media.url">{{media.short_title}}</a></h4>                                        
                                          <p class="blurb-text">
                                              <span [innerHTML]="media.short_description"></span>
                                          </p>
                                          <div class="search-listing-info">
                                              <span class="info-list-item"><span class="info-list-title">{{date}}: </span>{{media.content_date | dateFormat : languageCode}}</span>
                                              <span class="info-list-item"><span class="info-list-title">{{type}}: </span>{{media.content_type | objectFilter}}</span>
                                              <span class="info-list-item"><span class="info-list-title">{{language}}: </span>{{media.languages | objectFilter}}</span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                              <hr>
                          </div>                
                      </div>
                </div>       
            </div>
        </div>
    </div>
</div> 
</div>   
<div class="container" *ngIf="!isResponse">
  {{noData}}
</div>