.display-none{
    display: none;
  }
  .arrow_size{
     
      font-size: 12px;
    color: #0071BC;
    margin-left: 5px;
  }
  .arrow_a{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }
  .no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .no-select:focus{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }