<div *ngIf="loading">    
  <img src="{{imagePath}}" class="img-responsive center-block" style="margin: 0 auto;" alt="Loading"/>
</div>

<div class="row">
  <div class="heading-v1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>{{title}}</h2>
          <h3>{{subTitle}}</h3>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <chart class="financialActivity" [options]="lendingIndicatorsOptions"></chart>     
  </div>
</div>
